---
layout: page
---
		

<link href="/asserts/css/APlayer.min.css" rel="stylesheet"  />
<link href="/asserts/css/blog_music.css" rel="stylesheet"  />
<div class="my-player ">
	<div class="empty-container">
		
	</div>
 	<div class="aplayer">
 			
 	</div>
</div>


<div class="demo-container">
		<!-- 音乐-->
		<div class="markdown-body">
			<div class="title-container">
				<h1 class="page-title"><a  title="about"></a> </h1>
			
			<section class="right-tips">
				<span >
					Music
				</span>
			</section>	
			</div>

			<div class="content-container ">

			 		{% for cat in site.categories %}
			 		{% capture cateTag %}{{ cat[0] }}{% endcapture %}
					{% if cateTag == site.musicTag %}
					    {% for post in cat[1] %}
					    
					   <div class="music-card" data-music="{{post.src}}">
							<img class="pic" src="{{post.pic}}" />
							<div class="member-info">
								<span class="title">{{post.title}}</span>
								<span class="author">{{post.author}}</span>
								
								<p>
									{{post.description}}
								</p>
								
							</div>
							<div class="play-widget aplayer-container">
								<div class="circle2 aplayer-play ">
									<div class="play "></div>
								</div>
								<div class="circle2 aplayer-pause aplayer-hide">
									<div class=" pause">
										<div class="pause1"></div>
										<div class="pause2"></div>
									</div>
								</div>
							</div>
						</div>
					    {% endfor %}
    
					{% endif %}
					{% endfor %}
				 
 			</div> 
 			
  		</div>
  
        <!-- 多说-->
		{% include litemplate/duoshuo %}
</div>
  
        

<script type="text/javascript" src="/asserts/js/APlayer.min.js" ></script>
<script type="text/javascript" src="/asserts/js/music.js" ></script>