---
layout: default
---
		

<link href="/asserts/css/blog_archive.css" rel="stylesheet" />	
	<div class="wrap">
		<div class="container">
			<!-- 左侧，内容，多说评论等-->
			<div class="col-md-9">
				<!-- 内容-->
				<div class="markdown-body">
					<!--标题区域 -->
					<div class="title-container">
					<h1 class="page-title"><a  title="about"></a> </h1>	
						<section class="right-tips">
							<span >
								archive
							</span>
						</section>
					</div>
					<!-- 特别推荐-->
					<div class="tag-favour">
						<img src="/asserts/images/img_favour_star_1.png" />
					</div>
					<!-- 内容区域-->
					<div class="content-container">
						<ul>
					{% for post in site.posts %}
					  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
					  {% if year != y %}
						{% assign year = y %}
						</ul>
						<h3 id="{{ y }}">{{ y }}</h3>
						<ul class="post-list">
					  {% endif %}
					   
					 	<li class="post-list-item">
							<span class="item-meta">
								{{ post.date | date:"%Y-%m-%d" }}
							</span>
							<a  href="{{ post.url }}" class="item-name">{{ post.title }}</a>
							<span class="item-tag">
								 {% for cat in post.categories %}{% if forloop.rindex != 1 %}{{ cat }}-{% else %}{{ cat }}{% endif %}{% endfor %}
							</span>
					 	</li>
					 	
				    {% endfor %}						
					</div>	
				</div>
				
				
				<!-- 多说-->
				{% include litemplate/duoshuo %}
				
				
			</div>
			
			<!-- 右侧包括个人介绍，TOC菜单-->
			<div class="col-md-3">
				<!-- 右侧人物面板-->
				<div class="atchive-toc catgory-container border-effect">
					<div class="top-border">
				 		归档
				</div>
				<ul class="list">
					{% for post in site.posts %}
					  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
					  {% if year2 != y %}
						{% assign year2 = y %}
						<li class="list-item">
							<a  href="#{{ y }}">{{ y }}</a>
							<span class="badge">0</span>
						</li>
						
					  {% endif %}

				    {% endfor %}						
				</ul>
				</div>
						
			</div> 
 
		</div>
	</div>
<script type="text/javascript" src="/asserts/js/archive.js" ></script>		